<%- include("header.ejs")%>
<style>
nav{
    padding: 20px;
}
body{
    background-image: url("https://images.pexels.com/photos/5849559/pexels-photo-5849559.jpeg?auto=compress&cs=tinysrgb&w=800");
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
    <%- include("nav.ejs")%>
        <h2>This is Homepage</h2>
        <%- include("footer.ejs")%>